body {
    margin: 0;
    direction: rtl;
    height: 780px;
    /* background-image: linear-gradient(to bottom left, rgb(84, 219, 50),rgb(0, 238, 255)); */
    background-repeat: no-repeat;
    box-sizing: border-box;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    background-color: rgba(0, 0, 0, 0.226);
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.title-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 12px;
    /* background-color: antiquewhite; */
    /* border-bottom: 1px solid rgba(245, 245, 245, 0.603); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(to bottom left, rgb(171, 54, 221),rgb(0, 238, 255));
    width: 95%;
    border-radius: 10px;
}

/* .alert-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    background-color: #00b0e6;
    color: #8de2fc;
    border-radius: 10px;
}
.alert-div h4 {
} */

.form-div {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 70%;
    /* background-color: aquamarine; */
}

.input-text {
    width: 97%;
    height: 28px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons-div {
    /* background-color: cadetblue; */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.btn {
    box-sizing: border-box;
    padding: 12px 0px;
    width: 35%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #2020205b;
    color: whitesmoke;
}
.btn:hover {
    background-color: #2020208e;
    transition: 0.2s;
}

.guest-btn {
    /* float: right; */
    float: right;
    background-color: rgb(171, 54, 221);
    margin-left: 20px;
}
.guest-btn:hover {
    background-color: rgb(153, 45, 199);
}

.login-btn {
    float: right;
    background-color: #00c3ff;
}
.login-btn:hover {
    background-color: #00b0e6;
}